nav {
  background-color: #333;
  padding: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: #ddd;
}
